*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
    list-style-type: none;
  }
  
  .header-icon {
    display: flex;
    flex: 20%;
    padding-top: 0.85%;
    padding-left: 1.5%;
  }
  
  .menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%;
  }
  
  .menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(50, 50, 65);
    border-bottom: 5px solid #5757a0;
  }
  
  .menu li {
    display: inline;
  }
  
  header {
    position: fixed;
    color: white;
    top: 0;
    right: 0;
    background-color: rgb(50, 50, 65);
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  main {
    justify-content: center;
    display: flex;
    margin-top: 4%;
  }
  
  .content {
    max-width: 1024px;
  }
  
  a {
    text-decoration: none;
    color: initial;
  }
  
  a i {
    font-size: 30px;
  }
  
  .avatar {
    width: 400px;
    height: 300px;
    margin-left: 213px;
  }
  
  .about-aside {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
  }
  